<!-- Bootstrap elements:  CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<link rel="stylesheet" href="jobPosting.css">

<div>
    <Navigation />
        <br></br>
        <div class="row justify-content-center">
        <h1> Job Title: Paralegal - Trusts and Estates Law</h1>
            <div class="card col-sm-7">
                <div class="card-body">
                <table class="table user-view-table m-0">
                    <tbody>
                    <tr>
                        <td>Location:</td>
                        <td>1 Washington Sq, San Jose, CA 95192</td>
                    </tr>
                    <tr>
                        <td> Description:
                            
                        </td>
                        <td>Announcement - Trusts & Estates Paralegal

                            Hoge Fenton is a multi-service law firm headquartered in Silicon Valley providing legal services in a broad range of areas of law. We are recruiting for a full-time Trusts & Estates Paralegal. This position will be located in our San Mateo office. The primary responsibilities are, under attorney supervision, support the firm's Trusts and Estates Practice Group, its Tax Law Group and others in the firm on estate planning, trust administration, probate, conservatorships, corporations, and elder law probate litigation.
                            
                            Job Duties and Responsibilities:
                            • Handles probate administration and trust post-death administration matters, including drafting court pleadings, evaluating and obtaining asset information, drafting accountings, analyzing will and trust documents
                            • Experience with drafting of federal estate tax return forms and schedules for attorney review and preparation is preferred but not essential
                            • Manages filings for trust litigation and probate matters
                            • Handles conservatorship administration matters, including accountings
                            • Maintaining contact with clients, and other professionals such as accountants and financial advisors and probate court personnel
                            • Supervises, directs and assists practice group's secretarial staff with regard to court filings and service of pleadings and discovery
                            • Create and maintain electronic client files
                            • Meets monthly billable hours goals for the position
                            
                            Education, Experience, Skills:
                            • Compliance with California Business & Professionals Code section 6450
                            • Professional; self-motivated; organized; able to manage multiple tasks and cases effectively; able to see projects through to completion
                            • Strong command of English language
                            • Strong interpersonal skills
                            • Excellent computer skills including proficient use of firm software (e.g., NetDocuments)
                            • Prior experience as a trusts and estates legal assistant or paralegal; familiarity with court procedures and rules; a good understanding of wills and a variety of trust documents and related tax law
                            • California Notary Public commission required (either already obtained, or to be obtained soon after hire)
                            
                            Physical Requirements:
                            • Essentially a sedentary position
                            • May be required to travel to other work locations for client meetings
                            • Normal effort of general office work typically including bending, moving and lifting up to 15 pounds; work at computer terminals and telephones and photocopiers/scanners
                            • Please note that Hoge Fenton requires that all employees who physically enter the workplace be fully vaccinated for COVID-19. In the event of a legal exemption from vaccination, reasonable accommodation will be considered
                            
                            Hoge Fenton has a strong commitment to diversity. We strive to recruit and retain a work force that welcomes and supports the interests of women, families, and people of any age, race, creed, religion, color, national origin, ethnicity, gender, sexual orientation, gender identity/gender expression, disability, or military or veteran status. Our environment is collegial, collaborative, flexible, and supportive.
                            
                            Please send resume, cover letter and salary expectation to dolores.martinez</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-success">Apply</button>
                        </td>
                    </tr>
            </div>
            
        </div>
        
  </div>
 