<div class="col-md-4">
    <div class="card p-3 mb-2 border-success">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <div class="ms-2 c-details">
                </div>
            </div>
            <div class="badge"> <span>Tags</span> </div>
        </div>
        <div class="mt-5">
            <h3 class="heading">Job Title</h3>
            <p>Job description</p>
            <div class="mt-5">
                <div class="mt-3"> <span class="text1">15 Positions left</span> </div>
                <br></br>
                <button type="submit" class="btn btn-success">Submit Application</button>
            </div>
        </div>
    </div>
</div>